extends includes/layout

block body-header
    include includes/header

block body-main
    .container-tag
          .tag-list
            .tags
                h2 Tags
                ul
                    li  
                        a.color-first(href ='/') Tag Name
                    li  
                        a.color-first(href ='/') Tag Name
                    li  
                        a.color-first(href ='/') Tag Name
                    li  
                        a.color-first(href ='/') Tag Name
block body-footer
    include includes/footer