footer.bg-stone-700
  section.w-full.py-12.color-white(class='md:py-24 lg:py-32')
    .container.px-4(class='md:px-6')
      .grid.gap-8.max-w-7xl.m-auto(class='sm:grid-cols-2 lg:grid-cols-5')
        .space-y-2
          h3.text-lg.font-semibold COSMÉTICOS BRESCIA EUROPA S.L
          p.font-xs.leading-loose(class='dark:text-gray-400') Importación y distribución de productos profesionales para manicura y pedicura. <br/><br/>
            a.color-white(href='/programa-embajador-marca.html') Programa embajadoras de marca<br/><br/>
          p.font-xs(class='dark:text-gray-400') Tienda desarrollada por: <br/><br/>
            a.color-white(href='https://www.stratusmedia.io') Stratus Media Solutions<br/><br/>
          p.font-xs(class='dark:text-gray-400') Copyright © 2024


        .space-y-2
          h3.text-lg.font-semibold PRODUCTOS
          div(class='dark:text-gray-400')
            ul#footer_sub_menu_80809.font-sm.leading-loose
              li
                a.font-xs#link-product-page-prices-drop-1.cms-page-link.color-white(href='https://www.cosmeticosbrescia.eu/productos-rebajados' title='Our special products')
                  | Ofertas
              li
                a.font-xs#link-product-page-new-products-1.cms-page-link.color-white(href='https://www.cosmeticosbrescia.eu/novedades' title='Novedades')
                  | Novedades
              li
                a.font-xs#link-product-page-best-sales-1.cms-page-link.color-white(href='https://www.cosmeticosbrescia.eu/mas-vendidos' title='Los más vendidos')
                  | Los m&aacute;s vendidos




        .space-y-2
          h3.text-lg.font-semibold NUESTRA EMPRESA

          ul#footer_sub_menu_17168.leading-loose
            li
              a#link-cms-page-4-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/sobre-nosotros.html' title='Conoce más sobre Cosméticos Brescia Europa')
                | Con&oacute;cenos un poco m&aacute;s...
            li
              a#link-cms-page-6-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/programa-embajador-marca.html' title='Aprovecha el tirón que tengas y tus seguidores para obtener recompensas.')
                | Programa embajador@s de marca
            li
              a#link-cms-page-1-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/envio-y-devoluciones.html' title='Nuestros términos y condiciones de envío')
                | Env&iacute;o y devoluciones
            li
              a#link-cms-page-5-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/pago-seguro.html' title='Nuestra forma de pago segura')
                | Pago seguro
            li
              a#link-cms-page-2-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/aviso-legal.html' title='Aviso legal')
                | Aviso legal
            li
              a#link-cms-page-3-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/terminos-y-condiciones-de-uso.html' title='Nuestros términos y condiciones')
                | T&eacute;rminos y condiciones
            li
              a#link-cms-page-7-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/politica-de-cookies.html' title='Política de cookies de la tienda online www.cosmeticosbrescia.eu')
                | Pol&iacute;tica de cookies
            li
              a#link-cms-page-11-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/politica-privacidad.html' title='')
                | Pol&iacute;tica de privacidad
            li
              a#link-static-page-sitemap-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/mapa del sitio' title='¿Perdido? Encuentre lo que está buscando')
                | Mapa del sitio
            li
              a#link-static-page-contact-2.cms-page-link.font-xs.color-white(href='https://www.cosmeticosbrescia.eu/contactenos' title='Contáctenos')
                | Contacte con nosotros

        .space-y-2
          h3.text-lg.font-semibold.uppercase
            a.text-uppercase.color-white(href='https://www.cosmeticosbrescia.eu/mi-cuenta' rel='nofollow')
              | Tu cuenta

          ul#footer_account_list.account-list
            li
              a.font-xs.color-white.leading-loose(href='https://www.cosmeticosbrescia.eu/datos-personales' title='Información personal' rel='nofollow')
                | Informaci&oacute;n personal
            li
              a.font-xs.color-white.leading-loose(href='https://www.cosmeticosbrescia.eu/seguimiento-pedido' title='Devoluciones de mercancía' rel='nofollow')
                | Devoluciones de mercanc&iacute;a
            li
              a.font-xs.color-white.leading-loose(href='https://www.cosmeticosbrescia.eu/historial-compra' title='Pedidos' rel='nofollow')
                | Pedidos
            li
              a.font-xs.color-white.leading-loose(href='https://www.cosmeticosbrescia.eu/facturas-abono' title='Facturas por abono' rel='nofollow')
                | Facturas por abono
            li
              a.font-xs.color-white.leading-loose(href='https://www.cosmeticosbrescia.eu/direcciones' title='Direcciones' rel='nofollow')
                | Direcciones
            li
              a.font-xs.color-white.leading-loose(href='https://www.cosmeticosbrescia.eu/descuento' title='Cupones de descuento' rel='nofollow')
                | Cupones de descuento


        .space-y-2
          h3.text-lg.font-semibold INFORMACIÓN DE LA TIENDA

          ul#footer_contact.font-xs.leading-loose
            li.address-item
              | Cosm&eacute;ticos Brescia Europa
              br
              | C/ Gertrudis G&oacute;mez de Avellaneda 9, local 15
              br
              | 28400 Collado Villalba
              br
              | Madrid
              br
              | Spain
            li.phone
              a.color-white(href='tel:652 749 391' title='Contacta con nosotros')
                | Ll&aacute;manos:
                | 652 749 391
            li.fax
              | Tel&eacute;fono: 
              span 919 950 391
            li.e-mail
              a.color-white(href='mailto:ventas@cosmeticosbrescia.eu' target='_blank' title='Contacta con nosotros')
                | Env&iacute;anos un mensaje de correo electr&oacute;nico: ventas@cosmeticosbrescia.eu
      .block-social.col-lg-3
        ul
          li.facebook
            a(href='https://www.facebook.com/cosmeticos.brescia.eu' target='_blank')
          li.instagram
            a(href='https://www.instagram.com/cosmeticos.brescia.eu/' target='_blank')
