header.shadow
  .px-4.max-h-28.flex.items-center.max-w-7xl.m-auto(class='lg:px-6')
    a.flex.items-center.justify-center(href='https://www.cosmeticosbrescia.eu/')
      img.max-w-20.max-h-20(src="https://www.cosmeticosbrescia.eu/img/cosmeticos-brescia-europa-logo-1667257822.jpg", alt="", srcset="" )
      span.sr-only Acme Marketplace
    nav.ml-auto.flex.gap-4(class='sm:gap-6')
      a.color-black.text-sm.font-medium.underline-offset-4.text-primary-foreground.hover( href='https://www.cosmeticosbrescia.eu/contactenos')
        | CONTACTO
      a.color-black.text-sm.font-medium.underline-offset-4.text-primary-foreground.hover( href='https://www.cosmeticosbrescia.eu/mas-vendidos')
        | TIENDA
      a.color-black.text-sm.font-medium.underline-offset-4.text-primary-foreground.hover( href='https://www.cosmeticosbrescia.eu/')
        | HOME

    